* {
margin: 0%;
padding: 0%;
}
.circle {
    margin: 30rem;
    margin-top: 0%;
   height: 200px;
  width: 200px;
    background-color: blue;
   padding-inline-start: 100px;
   padding-bottom: 100px;
   border-top-right-radius:100rem ;
   border-top-left-radius:100rem  ;
   border-bottom-left-radius: 100rem ;
   border-bottom-right-radius:100rem  ; 
   margin-bottom: 2%; 
}
.square {
    margin: 30rem;
    margin-top: 0%;
    width: 300px;
    height: 300px;
    background-color: blueviolet;
    margin-bottom: 2%;
}
.rectangle {
    margin: 30rem;
    margin-top:0%;
    width: 500px;
    height: 200px;
    background-color: forestgreen;
}